.hero-section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  color: var(--text-light);
  text-align: center;
  margin-top: 40px;
}

.hero-content {
  max-width: 700px;
  animation: fadeInUp 1s ease forwards;
}

/* IMAGE */
.hero-image {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.hero-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid var(--accent-color);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  animation: float 4s ease-in-out infinite;
  
}

/* TEXT */
.hero-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
}

.hero-title {
  font-size: 1.8rem;
  margin: 0.4rem 0;
  font-weight: 500;
  color: var(--accent-color);
}

.hero-description {
  font-size: 1rem;
  margin: 1rem auto 2rem;
  color: var(--text-secondary);
  line-height: 1.6;
  max-width: 520px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.btn {
  padding: 0.75rem 1.8rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 30px;
  transition: 0.3s ease;
  text-decoration: none;
}

.primary-btn {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.primary-btn:hover {
  border: 2px solid blue;
  color: #fff;
  transform: scale(1.1);
}

.outline-btn {
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
}

.outline-btn:hover {
  border: 2px solid blue;
  color: #fff;
  transform: scale(1.1);
}

/* FLOAT ANIMATION */
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* FADE IN */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.4rem;
  }

  .hero-title {
    font-size: 1.5rem;
  }

  .hero-image img {
    width: 150px;
    height: 150px;
  }
}
